[project]
	description = Condensed notes for installing Director in a virtual environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Fulton (fultonj)
[access "refs/for/refs/*"]
	read = group user/John Fulton (fultonj)
	push = group user/John Fulton (fultonj)
	label-Code-Review = -2..+2 group user/John Fulton (fultonj)
	label-Verified = -1..+1 group user/John Fulton (fultonj)
	rebase = group user/John Fulton (fultonj)
	removeReviewer = group user/John Fulton (fultonj)
	submit = group user/John Fulton (fultonj)
[access "refs/heads/*"]
	read = group user/John Fulton (fultonj)
	create = group user/John Fulton (fultonj)
	push = +force group user/John Fulton (fultonj)
	pushMerge = group user/John Fulton (fultonj)
[access "refs/tags/*"]
	push = +force group user/John Fulton (fultonj)
	pushTag = group user/John Fulton (fultonj)
	pushSignedTag = group user/John Fulton (fultonj)
